RC_LIVEKIT_TLS=true
RC_LIVEKIT_DOMAIN=livekit.example.com
RC_LIVEKIT_API_KEY=APIxxxxxxxxxxxxxxxx
RC_LIVEKIT_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RC_LIVEKIT_ROOM=racecast
RC_LIVEKIT_IDENTITY=racecast-receiver

RC_SRT_PORT=9000
RC_SRT_PASSPHRASE=secretpassphrase
RC_SRT_LATENCY=800
RC_SRT_RECONNECT_GRACE=5
